@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --cor1: hsl(0, 36%, 70%);
  --cor2: hsl(0, 93%, 68%);
  --cor3: hsl(0, 6%, 24%);
  --gradiente1: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --gradiente2: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
  --fonte: "Josefin Sans", sans-serif;
}

body {
  margin: 0px;
  width: 450px;
  font-family: var(--fonte);
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  margin: 0px;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  color: var(--cor1);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
}

#logo {
  display: block;
  margin: 30px;
}

#girl {
  display: block;
  width: 100%;
}

#girlDesktop {
  display: none;
}

main {
  width: 360px;
}

h1 {
  font-size: 55px;
}

h1 span {
  color: var(--cor3);
}

p {
  font-size: 18px;
}

#registro {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 40px;
  width: 320px;
  border-radius: 25px;
  border: 0.5px solid var(--cor1);
  position: absolute;
}

button {
  height: 46px;
  width: 80px;
  border-radius: 25px;
  background-color: var(--cor1);
  color: white;
  font-size: 30px;
  border: 0px;
  margin: auto;
  position: relative;
  margin-right: 10px;
}

button:hover {
  background-color: hsl(0, 50%, 80%);
}

#sd {
  display: flex;
  margin-top: -10px;
  margin-left: 20px;
  justify-content: left;
}

#sd p {
  font-size: 12px;
}

#erro {
  position: relative;
  left: 230px;
}

@media (min-width: 800px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
  }

  #container {
    width: 80vw;
    height: 80vh;
    flex-direction: row;
    background-image: url(images/bg-pattern-desktop.svg);
  }

  #content {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 150px;
  }

  header {
    width: 400px;
    margin-right: auto;
    margin-left: 70px;
  }

  main {
    margin-right: auto;
    text-align: left;
    width: 400px;
    height: 80%;
    margin-right: auto;
    margin-left: 100px;
  }

  h1 {
    font-size: 60px;
  }

  input {
    width: 360px;
  }

 button {
  margin-left: auto;
 }

  #erro {
    margin-left: 40px;
  }

  #girl {
    display: none;
  }

  #girlDesktop {
    display: block;
    background-image: url(images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 100%;
  }
}
